@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@attribute [StyleSheet]
@inherits Sandbox.UI.GameMenu.DefaultGameMenu
@namespace Sandbox.UI.GameMenu

<root class="gamemainmenu">

    <StargateGameMenuModel class="modelpanel"></StargateGameMenuModel>

    <div class="navigator-canvas" slot="navigator-canvas"></div>

</root>
