
$primary: red !default;
$primary-alt: white !default;

$switch-padding: 6px !default;

.button.popupbutton.dropdown
{
	cursor: pointer;

	> .dropdown_indicator
	{
		position: absolute;
		top: 3px;
		right: 8px;
	}

	&.small {
		width: 40px;

		> .dropdown_indicator
		{
			position: absolute;
			right: 1px;
			font-family: MaterialIcons;
		}
	}

	&.open
	{
		border-bottom-left-radius: 1px;
		border-bottom-right-radius: 1px;
		transition: border-radius 0.2s ease-out;
	}
}
