@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;

<style>

	.frame {
		width: 100%;
		height: 100%;
	}

	@@keyframes bar_cover_anim {
		0% {transform: scaleY(1); opacity: 1;}
		79% {transform: scaleY(0); opacity: 1;}
		80% {transform: scaleY(0); opacity: 0;}
		81% {transform: scaleY(1); opacity: 0;}
		95% {transform: scaleY(1); opacity: 1;}
		100% {transform: scaleY(1); opacity: 1;}
	}

	.gradient_bar_cover {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		transform-origin: bottom;

		&.animating {
			animation-name: bar_cover_anim;
			animation-direction: normal;
			animation-iteration-count: infinite;
		}
	}

</style>

<root class="frame">
	@{
		var coverStyle = $"animation-duration: {AnimDuration}s";
		<div class="gradient_bar_cover" style=@coverStyle @ref=cover></div>
	}
</root>

@code {

	private Random rnd = new Random();

	public float AnimDuration = 1;
	public TimeSince LastRefresh = 0;

	private Panel cover = null;

	public async void PlayAnim()
	{
		if (!cover.IsValid() || cover.HasClass("animating"))
			return;

		cover.SetClass("animating", true);
		await GameTask.DelaySeconds(AnimDuration-0.01f);
		cover.SetClass("animating", false);
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}

}
