@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;

<style>

	.frame {
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.border {
		position: absolute;
		width: 100%;
		height: 100%;
		border-color: @SGCComputer.Color_SG_Blue.Rgb;
		border-width: 0.5%;
	}

	.sidegrid {
		width: 33%;
		height: 100%;
		background-image-tint: @SGCComputer.Color_SG_Blue.Rgb;
		background-image: url("materials/sbox_stargate/programs/elements/gradientbox/gradientbox_sidegrid.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		border-color: @SGCComputer.Color_SG_Blue.Rgb;
		border-width: 2%;
	}

	.gradients {
		width: auto;
		height: 100%;
		background-image-tint: @SGCComputer.Color_SG_Blue.Rgb;
		background-image: url("materials/sbox_stargate/programs/elements/gradientbox/gradientbox_gradients_9.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: bottom;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-around;
	}

</style>

<root class="frame">

	<div class="gradients" @ref=gridbox>
		@{
			for (int j = 0; j<9; j++)
			{
				<GradientBoxBar></GradientBoxBar>
			}
		}
	</div>

	<div class="sidegrid"></div>
	<div class="border"></div>
	
</root>

@code {

	//private TimeSince lastRefresh = 0;
	private Panel gridbox = null;
	public bool CanAnimate = false;

	private List<float> Durations = new() { 0.52f, 0.74f, 0.82f, 0.54f, 0.48f, 0.82f, 0.45f, 1.1f, 0.67f };

	private void ProcessGridChildren()
	{
		if (!CanAnimate)
			return;

		foreach (var bar in gridbox.ChildrenOfType<GradientBoxBar>())
		{
			if (bar.LastRefresh > bar.AnimDuration)
			{
				bar.PlayAnim();
				bar.LastRefresh = 0;
			}
			
		}

	}

	protected override void OnAfterTreeRender(bool firstTime)
	{
		if (firstTime)
		{
			var bars = gridbox.ChildrenOfType<GradientBoxBar>();
			for (int i = 0; i < bars.Count(); i++)
			{
				var bar = bars.ElementAt(i);
				bar.AnimDuration = Durations[i];
			}
		}

		ProcessGridChildren();
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}

}
