@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;

<style>

	.frame {
		width: 100%;
		height: 100%;
	}

	.pattern {
		width: 100%;
		height: 100%;
		background-image-tint: white;
		background-size: 100% 100%;
	}

	.grid_image {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url("materials/sbox_stargate/programs/elements/gridbox/gridbox_grid.png");
		background-image-tint: @SGCComputer.Color_SG_Blue.Rgb;
		background-size: 100% 100%;
	}

</style>

<root class="frame">

	@{
		var patternStyle = $"background-image: url(\"materials/sbox_stargate/programs/elements/gridbox/gridbox_pattern_{CurrentPattern}.png\");";
		<div class="pattern" style=@patternStyle></div>
		<div class="grid_image"></div>
	}
	
</root>

@code {

	private int CurrentPattern = 1; // one of 9 patterns

	private TimeSince lastRefresh = 0;

	private void Animate()
	{
		if (lastRefresh < 0.25)
			return;

		CurrentPattern++;

		if (CurrentPattern > 9)
			CurrentPattern = 1;

		lastRefresh = 0;
	}

	protected override void OnAfterTreeRender(bool firstTime)
	{
		Animate();
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}

}
