@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;

<style>

	.frame {
		width: 100%;
		height: 100%;
	}

	.box_lines {
		position: absolute;
		width: 100%;
		aspect-ratio: 1;
		align-self: center;
		background-image: url("materials/sbox_stargate/programs/elements/octagonbox/octagonbox_lines.png");
		background-image-tint: @SGCComputer.Color_SG_Blue.ToColor32(true).Rgb;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
	}

	.box_center {
		position: absolute;
		width: 22%;
		aspect-ratio: 1;

		&.top {
			top: 21%;
		}

		&.bottom {
			bottom: 21%;
		}

		&.left {
			left: 20%;
		}

		&.right {
			right: 20%;
		}
	}


</style>

<root class="frame">

	<div class="box_lines">
		<div class="box_center top left">
			<OctagonBoxCenter></OctagonBoxCenter>
		</div>
		<div class="box_center top right">
			<OctagonBoxCenter></OctagonBoxCenter>
		</div>
		<div class="box_center bottom left">
			<OctagonBoxCenter></OctagonBoxCenter>
		</div>
		<div class="box_center bottom right">
			<OctagonBoxCenter></OctagonBoxCenter>
		</div>
	</div>
	
</root>

@code {

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}

}
