stargatemenuv2 {
    width: 800px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 10%;
    left: 10%;
    pointer-events: all;
    display: flex;
    flex-direction: row;

    .panel-title {
        color: white;
        margin-top: 5px;
    }

    .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        label.input-label {
            color: lightgray;
        }

        textentry {
            background-color: white;
            height: 20px;
            color: black;
            align-items: center;
            text-align: center;
            font-weight: bold;
            cursor: text;
        }

        select {
            background-color: white;
            height: 20px;
            width: 100px;
            color: black;
            cursor: pointer;

            &.open {
                background-color: lightgray;
                color: black;
            }
        }

        icon {
            color: white;
            font-family: MaterialIcons;
            font-size: 22px;

            &.red {
                color: red;
            }

            &.green {
                color: green;
            }

            &.can-click {
                cursor: pointer;

                &.active {
                    transform: scale(1.02);
                }
            }
        }

        &.inline {
            flex-direction: row;

            textentry {
                width: 100px;
            }
        }
    }
}
