SGCMonitorWorldPanel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .background {
        position: absolute;
        width: 100%;
        height: 75%;
        background-color: black;
    }

    .programscreen {
        position: absolute;
        width: 100%;
        aspect-ratio: 1;
        justify-content: center;
    }
}
