SGCMonitorHUDPanel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 1);
    align-items: center;
    justify-content: center;
    pointer-events: all;
    z-index: 1;

    .programscreen {
        height: 153%;
        aspect-ratio: 1;
        z-index: 2;
        justify-content: center;
    }

    .keyboard {
        position: absolute;
        width: 50%;
        height: 20%;
        z-index: 3;
        top: 62.5%;

        transition: all 0.5s;

        &.hidden {
            transform: translateY(90%);
        }
    }
}
