SGCMonitorHUDPanel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 1);
    align-items: center;
    justify-content: center;
    pointer-events: all;

    .programscreen {
        height: 153%;
        aspect-ratio: 1;
    }
}
